# Mock Auth Users
# Format: USER1_EMAIL=user@example.com
#         USER1_PASSWORD=password
#         USER1_NAME=Test User
#
#         USER2_EMAIL=user2@example.com
#         USER2_PASSWORD=password2
#         USER2_NAME=Second User

USER1_EMAIL=user@example.com
USER1_PASSWORD=password
USER1_NAME=Test User

USER2_EMAIL=
USER2_PASSWORD=
USER2_NAME=

USER3_EMAIL=
USER3_PASSWORD=
USER3_NAME=

VITE_API_URL=/api

VITE_VERSION_NUMBER = v1.0.0
