# Mock Auth Users
# Format: USER1_EMAIL=user@example.com
#         USER1_PASSWORD=password
#         USER1_NAME=Test User
#
#         USER2_EMAIL=user2@example.com
#         USER2_PASSWORD=password2
#         USER2_NAME=Second User

USER1_EMAIL=user@example.com
USER1_PASSWORD=password
USER1_NAME=Test User

USER2_EMAIL=nickitadatsky@gmail.com
USER2_PASSWORD=myPassword123
USER2_NAME=Н. М. Кодацкий

USER3_EMAIL=sukhinov@gmail.com
USER3_PASSWORD=anotherPassword
USER3_NAME=А. И. Сухинов

VITE_API_URL=/api
