apps/lito-web/public/gallery/black-sea-seabed-3d.svg filter=lfs diff=lfs merge=lfs -text
/output/koch_iter_10.svg filter=lfs diff=lfs merge=lfs -text
/public/gallery/black-sea-seabed-3d.svg filter=lfs diff=lfs merge=lfs -text
